
{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="sen">
  <div class="mb-16">
    <div class="pors">
      <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          
          <h2 class="max-w-lg mb-6  text-3xl font-bold leading-none tracking-tight text-cyan-500 sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
              <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-gray-400 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                <defs>
                  <pattern id="dc223fcc-6d72-4ebc-b4ef-abe121034d6e" x="0" y="0" width=".135" height=".30">
                    <circle cx="1" cy="1" r=".7"></circle>
                  </pattern>
                </defs>
                <rect fill="url(#dc223fcc-6d72-4ebc-b4ef-abe121034d6e)" width="52" height="24"></rect>
              </svg>
              <span class="relative">PSher</span>
            </span>
            Galeria para subir y bajar Imgenes
          </h2>
          <p class="text-base text-white md:text-lg">
            Descubre nuestra impresionante galería de imágenes, donde encontrarás una amplia variedad de fotografías creativas y hermosas de todo el mundo. Nuestro equipo de fotógrafos talentosos ha capturado momentos únicos y especiales, para que puedas disfrutarlos en tu pantalla.
          </p>
        </div>
        <div class="flex items-center sm:justify-center">
          <button
            type="submit"
            class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-sky-600 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
          >
            Registrate
          </button>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold text-white transition-colors duration-200 hover:text-white">Learn more</a>
        </div>
      </div>
    </div>
    <div class="relative px-4 sm:px-0">
      <div class="absolute inset-0  h-1/2"></div>
      <div class="relative grid mx-auto ase overflow-hidden bg-white divide-y rounded shadow sm:divide-y-0 sm:divide-x sm:max-w-screen-sm sm:grid-cols-2 lg:max-w-screen-md">
        
        <div class="inline-block p-8 text-center">
          <div class="flex items-center justify-center w-12 h-12 mx-auto mb-4 rounded-full bg-indigo-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
            </svg>
            
          </div>
          <p class="font-bold tracking-wide text-gray-800">Podes subir</p>
        </div>
        <div class="inline-block p-8 text-center">
          <div class="flex items-center justify-center w-12 h-12 mx-auto mb-4 rounded-full bg-indigo-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            
          </div>
          <p class="font-bold tracking-wide text-gray-800">Podes descargar</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--THE SEGUNDO DIV-->
  <div class=" px-4 ka py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
      <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
        <a href="/" class="mb-6 sm:mx-auto">
          <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
            </svg>
            
          </div>
        </a>
        <div class="spo max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          <h2 class="max-w-lg mb-6  text-3xl font-bold leading-none tracking-tight text-black sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
              <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                <defs>
                  <pattern id="e77df901-b9d7-4b9b-822e-16b2d410795b" x="0" y="0" width=".135" height=".30">
                    <circle cx="1" cy="1" r=".7"></circle>
                  </pattern>
                </defs>
                <rect fill="url(#e77df901-b9d7-4b9b-822e-16b2d410795b)" width="52" height="24"></rect>
              </svg>
              <span class="relative"> Vos</span>
            </span>
            ¿Buscas inspiración visual?
          </h2>
          <p class="text-base text-white md:text-lg">
            No busques más, ¡nuestra galería de imágenes es el lugar perfecto para ti! Explora nuestra colección de fotografías de alta calidad de la naturaleza, la arquitectura, la moda, el arte y mucho más. Todas nuestras imágenes están cuidadosamente seleccionadas y editadas para ofrecerte lo mejor.
          </p>
        </div>
        <div bg-sky-600 >
          <a
            href="/"
            class=" bg-sky-600 inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white  transition duration-200 rounded shadow-md  focus:shadow-outline focus:outline-none"
          >
            Registrate
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock content %}